---
import ThemeToggle from "../components/Themetoggle";
import Layout from "../layouts/Layout.astro";
import { AnimateFragments } from "../components/Hero";
import Jobs from "../components/Jobs";
import Technologies from "../components/Technologies";
import { AwsIcon, GoogleIcon, GeminiIcon, OpenAIIcon, FramerIcon, Figma, NextJS, TailwindIcon, ReactIcon, IconWhatsappT} from '../icons/Icons'
import TechFront from '../sections/TechFront'
import TechColaborate from '../sections/TechColaborate'
import TechCloud from '../sections/TechCloud'
import Header from "../components/Header";
import Particles from '../components/ui/Particles'
import React from "react";
import { IconWhatsapp } from "../icons/Icons";

---

<Layout>

  <main
    class="bg-white min-h-screen text-black dark:bg-[#161616] dark:text-gray-300 transition-colors duration-300 pb-32"
  >
  
    <Header client:only="react"/>

    <!-- Hero Section -->
    <section class="pt-32">
      <div class="mx-6 flex flex-col gap-4 relative z-30">
        <div class="text-xs flex items-center gap-2">
          <div class="w-3 h-3 bg-green-400 rounded-full bg-opacity-35 flex items-center justify-center animate-pulse">
            <div class="w-1 h-1 bg-green-400 rounded-full"></div>
          </div>

          <p>Disponible para trabajar!</p>
          <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500" width="500" height="500" style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;" preserveAspectRatio="xMidYMid meet"><defs><clipPath id="__lottie_element_65"><rect width="500" height="500" x="0" y="0"></rect></clipPath><g id="__lottie_element_70"><g style="display: block;" transform="matrix(1,0,0,1,28.699996948242188,28.751007080078125)" opacity="1"><path fill="rgb(255,0,0)" fill-opacity="1" d=" M293.82,160.76 C293.82,154.35 291.28,148.21 286.74,143.67 C282.21,139.14 276.06,136.59 269.65,136.59 C269.65,136.59 172.95,136.59 172.95,136.59 C166.54,136.59 160.4,139.14 155.86,143.67 C151.32,148.21 148.78,154.35 148.78,160.76 C148.78,160.76 148.78,378.32 148.78,378.32 C148.78,384.74 151.32,390.88 155.86,395.42 C160.4,399.95 166.54,402.5 172.95,402.5 C172.95,402.5 269.65,402.5 269.65,402.5 C276.06,402.5 282.21,399.95 286.74,395.42 C291.28,390.88 293.82,384.74 293.82,378.32 C293.82,378.32 293.82,160.76 293.82,160.76z"></path><g opacity="1" transform="matrix(1,0,0,1,221.3000030517578,269.54400634765625)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="rgb(133,133,133)" stroke-opacity="1" stroke-width="16" d=" M72.5199966430664,-108.77999877929688 C72.5199966430664,-115.19200134277344 69.97599792480469,-121.33799743652344 65.43699645996094,-125.87100219726562 C60.904998779296875,-130.40899658203125 54.75899887084961,-132.9530029296875 48.34700012207031,-132.9530029296875 C48.34700012207031,-132.9530029296875 -48.34700012207031,-132.9530029296875 -48.34700012207031,-132.9530029296875 C-54.75899887084961,-132.9530029296875 -60.904998779296875,-130.40899658203125 -65.43699645996094,-125.87100219726562 C-69.97599792480469,-121.33799743652344 -72.5199966430664,-115.19200134277344 -72.5199966430664,-108.77999877929688 C-72.5199966430664,-108.77999877929688 -72.5199966430664,108.77999877929688 -72.5199966430664,108.77999877929688 C-72.5199966430664,115.19200134277344 -69.97599792480469,121.33799743652344 -65.43699645996094,125.87100219726562 C-60.904998779296875,130.40899658203125 -54.75899887084961,132.9530029296875 -48.34700012207031,132.9530029296875 C-48.34700012207031,132.9530029296875 48.34700012207031,132.9530029296875 48.34700012207031,132.9530029296875 C54.75899887084961,132.9530029296875 60.904998779296875,130.40899658203125 65.43699645996094,125.87100219726562 C69.97599792480469,121.33799743652344 72.5199966430664,115.19200134277344 72.5199966430664,108.77999877929688 C72.5199966430664,108.77999877929688 72.5199966430664,-108.77999877929688 72.5199966430664,-108.77999877929688z"></path></g></g></g><g id="__lottie_element_79"><g style="display: block;" transform="matrix(1,0,0,1,28.699996948242188,28.751007080078125)" opacity="1"><path fill="rgb(255,0,0)" fill-opacity="1" d=" M293.82,160.76 C293.82,154.35 291.28,148.21 286.74,143.67 C282.21,139.14 276.06,136.59 269.65,136.59 C269.65,136.59 172.95,136.59 172.95,136.59 C166.54,136.59 160.4,139.14 155.86,143.67 C151.32,148.21 148.78,154.35 148.78,160.76 C148.78,160.76 148.78,378.32 148.78,378.32 C148.78,384.74 151.32,390.88 155.86,395.42 C160.4,399.95 166.54,402.5 172.95,402.5 C172.95,402.5 269.65,402.5 269.65,402.5 C276.06,402.5 282.21,399.95 286.74,395.42 C291.28,390.88 293.82,384.74 293.82,378.32 C293.82,378.32 293.82,160.76 293.82,160.76z"></path><g opacity="1" transform="matrix(1,0,0,1,221.3000030517578,269.54400634765625)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="rgb(133,133,133)" stroke-opacity="1" stroke-width="16" d=" M72.5199966430664,-108.77999877929688 C72.5199966430664,-115.19200134277344 69.97599792480469,-121.33799743652344 65.43699645996094,-125.87100219726562 C60.904998779296875,-130.40899658203125 54.75899887084961,-132.9530029296875 48.34700012207031,-132.9530029296875 C48.34700012207031,-132.9530029296875 -48.34700012207031,-132.9530029296875 -48.34700012207031,-132.9530029296875 C-54.75899887084961,-132.9530029296875 -60.904998779296875,-130.40899658203125 -65.43699645996094,-125.87100219726562 C-69.97599792480469,-121.33799743652344 -72.5199966430664,-115.19200134277344 -72.5199966430664,-108.77999877929688 C-72.5199966430664,-108.77999877929688 -72.5199966430664,108.77999877929688 -72.5199966430664,108.77999877929688 C-72.5199966430664,115.19200134277344 -69.97599792480469,121.33799743652344 -65.43699645996094,125.87100219726562 C-60.904998779296875,130.40899658203125 -54.75899887084961,132.9530029296875 -48.34700012207031,132.9530029296875 C-48.34700012207031,132.9530029296875 48.34700012207031,132.9530029296875 48.34700012207031,132.9530029296875 C54.75899887084961,132.9530029296875 60.904998779296875,130.40899658203125 65.43699645996094,125.87100219726562 C69.97599792480469,121.33799743652344 72.5199966430664,115.19200134277344 72.5199966430664,108.77999877929688 C72.5199966430664,108.77999877929688 72.5199966430664,-108.77999877929688 72.5199966430664,-108.77999877929688z"></path></g></g></g><mask id="__lottie_element_79_1" mask-type="alpha"><use xlink:href="#__lottie_element_79"></use></mask><filter id="__lottie_element_83" filterUnits="objectBoundingBox" x="0%" y="0%" width="100%" height="100%"><feComponentTransfer in="SourceGraphic"><feFuncA type="table" tableValues="1.0 0.0"></feFuncA></feComponentTransfer></filter><mask id="__lottie_element_70_2" mask-type="alpha"><g filter="url(#__lottie_element_83)"><rect width="500" height="500" x="0" y="0" fill="#ffffff" opacity="0"></rect><use xlink:href="#__lottie_element_70"></use></g></mask></defs><g clip-path="url(#__lottie_element_65)"><g style="display: block;" mask="url(#__lottie_element_70_2)"><g transform="matrix(1,0,0,1,28.699996948242188,28.751007080078125)" opacity="1"><g opacity="1" transform="matrix(1,0,0,1,221.3000030517578,191.9929962158203)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="16" d=" M120.86699676513672,7.054999828338623 C88.78900146484375,-1.7200000286102295 46.417999267578125,-7.054999828338623 -0.0010000000474974513,-7.054999828338623 C-46.41999816894531,-7.054999828338623 -88.78900146484375,-1.7200000286102295 -120.86699676513672,7.054999828338623"></path></g><g opacity="1" transform="matrix(1,0,0,1,221.3000030517578,88.2959976196289)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="16" d=" M-120.86699676513672,48.29600143432617 C-157.9550018310547,38.154998779296875 -181.3000030517578,23.43400001525879 -181.3000030517578,7.056000232696533 C-181.3000030517578,-23.493000030517578 -100.05999755859375,-48.29600143432617 0,-48.29600143432617 C100.05899810791016,-48.29600143432617 181.3000030517578,-23.493000030517578 181.3000030517578,7.056000232696533 C181.3000030517578,23.43400001525879 157.95399475097656,38.154998779296875 120.86599731445312,48.29600143432617"></path></g><g opacity="1" transform="matrix(1,0,0,1,70.21600341796875,188.49099731445312)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="16" d=" M30.216999053955078,93.13999938964844 C30.216999053955078,93.13999938964844 30.216999053955078,-51.900001525878906 30.216999053955078,-51.900001525878906 C-6.870999813079834,-62.04100036621094 -30.216999053955078,-76.76200103759766 -30.216999053955078,-93.13999938964844 C-30.216999053955078,-93.13999938964844 -30.216999053955078,51.900001525878906 -30.216999053955078,51.900001525878906 C-30.216999053955078,68.27799987792969 -6.870999813079834,82.9990005493164 30.216999053955078,93.13999938964844z"></path></g><g opacity="1" transform="matrix(1,0,0,1,372.38299560546875,188.49099731445312)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="16" d=" M-30.215999603271484,93.13999938964844 C-30.215999603271484,93.13999938964844 -30.215999603271484,-51.900001525878906 -30.215999603271484,-51.900001525878906 C6.872000217437744,-62.04100036621094 30.215999603271484,-76.76200103759766 30.215999603271484,-93.13999938964844 C30.215999603271484,-93.13999938964844 30.215999603271484,51.900001525878906 30.215999603271484,51.900001525878906 C30.215999603271484,68.27799987792969 6.872000217437744,82.9990005493164 -30.215999603271484,93.13999938964844z"></path></g></g></g><g style="display: block;" transform="matrix(1,0,0,1,28.699996948242188,28.751007080078125)" opacity="1"><g opacity="1" transform="matrix(1,0,0,1,221.3000030517578,269.54400634765625)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="rgb(133,133,133)" stroke-opacity="1" stroke-width="16" d=" M72.5199966430664,-108.77999877929688 C72.5199966430664,-115.19200134277344 69.97599792480469,-121.33799743652344 65.43699645996094,-125.87100219726562 C60.904998779296875,-130.40899658203125 54.75899887084961,-132.9530029296875 48.34700012207031,-132.9530029296875 C48.34700012207031,-132.9530029296875 -48.34700012207031,-132.9530029296875 -48.34700012207031,-132.9530029296875 C-54.75899887084961,-132.9530029296875 -60.904998779296875,-130.40899658203125 -65.43699645996094,-125.87100219726562 C-69.97599792480469,-121.33799743652344 -72.5199966430664,-115.19200134277344 -72.5199966430664,-108.77999877929688 C-72.5199966430664,-108.77999877929688 -72.5199966430664,108.77999877929688 -72.5199966430664,108.77999877929688 C-72.5199966430664,115.19200134277344 -69.97599792480469,121.33799743652344 -65.43699645996094,125.87100219726562 C-60.904998779296875,130.40899658203125 -54.75899887084961,132.9530029296875 -48.34700012207031,132.9530029296875 C-48.34700012207031,132.9530029296875 48.34700012207031,132.9530029296875 48.34700012207031,132.9530029296875 C54.75899887084961,132.9530029296875 60.904998779296875,130.40899658203125 65.43699645996094,125.87100219726562 C69.97599792480469,121.33799743652344 72.5199966430664,115.19200134277344 72.5199966430664,108.77999877929688 C72.5199966430664,108.77999877929688 72.5199966430664,-108.77999877929688 72.5199966430664,-108.77999877929688z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="rgb(133,133,133)" stroke-opacity="1" stroke-width="16" d=" M197.12600708007812,354.1510009765625 C197.12600708007812,354.1510009765625 245.47300720214844,354.1510009765625 245.47300720214844,354.1510009765625"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="rgb(133,133,133)" stroke-opacity="1" stroke-width="16" d=" M221.3000030517578,136.59100341796875 C221.3000030517578,136.59100341796875 221.3000030517578,148.67799377441406 221.3000030517578,148.67799377441406"></path></g></g><g style="display: block;" mask="url(#__lottie_element_79_1)"><g transform="matrix(1,0,0,1,378,429)" opacity="1"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="rgb(133,133,133)" stroke-opacity="1" stroke-width="16" d=" M140,-168 C140,-168 -137,109 -137,109"></path></g></g></g></g></svg> -->
        </div>
        <h1
          class="text-4xl font-ClashDisplay tracking-wide text-gray-800 font-semibold min-h-fit text-wrap dark:text-secondary"
        >
          Soy Desarrollador
          <AnimateFragments
            client:load
            value={'<span class="font-medium bg-gradient-to-r from-gray-500 to-gray-800 bg-clip-text text-transparent dark:from-gray-300 dark:to-gray-700">Frontend React.</span>'}
          />
        </h1>
        <div
          class="sm:aspect-auto text-gray-800 min-h-min text-pretty dark:text-terteary"
        >
          <AnimateFragments
            client:load
            value={'Hola, <a href="/yo" class="text-[#313438d4] font-extrabold dark:text-secondary dark:font-semibold flex items-center gap-2"><img src="/author_home.png" class="w-7 inline" alt="" /> Soy Mich. </a>Desarrollo experiencias únicas, combinando rendimiento y precisión a través de <a href="/" class="flex items-center gap-3 text-white"><div class="px-3 py-0 rounded-xl bg-primary text-white flex items-center justify-center"><span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" color="currentColor" fill="none"><path d="M20.0001 11.9998L4.00012 11.9998" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M15.0003 17C15.0003 17 20.0002 13.3176 20.0002 12C20.0002 10.6824 15.0002 7 15.0002 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /></svg></span></div><p class="text-[#313438d4] font-extrabold dark:text-secondary dark:font-semibold">productos funcionales.</p></a>'}
          />
        </div>

        <div class="flex gap-3 text-center mt-4 flex-wrap relative">
          <a
            href=""
            class="border-2 rounded-lg bg-[#eff3f4] border-[#eff3f4] dark:bg-[#2c2c2c] dark:border-[#2c2c2c] text-xs py-2 px-1.5"
            >¿Por qué elegirme?</a
          >
          <a
            href=""
            class="border-2 flex items-center gap-2 rounded-lg bg-[#161616] border-[#eff3f4] dark:border-[#2c2c2c] text-xs py-2 px-4"
            >
            <svg width="18" height="18" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path opacity="0.4" d="M20.5 10.19H17.61C15.24 10.19 13.31 8.26 13.31 5.89V3C13.31 2.45 12.86 2 12.31 2H8.07C4.99 2 2.5 4 2.5 7.57V16.43C2.5 20 4.99 22 8.07 22H15.93C19.01 22 21.5 20 21.5 16.43V11.19C21.5 10.64 21.05 10.19 20.5 10.19Z" fill="currentColor"></path><path d="M15.7997 2.20999C15.3897 1.79999 14.6797 2.07999 14.6797 2.64999V6.13999C14.6797 7.59999 15.9197 8.80999 17.4297 8.80999C18.3797 8.81999 19.6997 8.81999 20.8297 8.81999C21.3997 8.81999 21.6997 8.14999 21.2997 7.74999C19.8597 6.29999 17.2797 3.68999 15.7997 2.20999Z" fill="currentColor"></path><path d="M13.5 13.75H7.5C7.09 13.75 6.75 13.41 6.75 13C6.75 12.59 7.09 12.25 7.5 12.25H13.5C13.91 12.25 14.25 12.59 14.25 13C14.25 13.41 13.91 13.75 13.5 13.75Z" fill="currentColor"></path><path d="M11.5 17.75H7.5C7.09 17.75 6.75 17.41 6.75 17C6.75 16.59 7.09 16.25 7.5 16.25H11.5C11.91 16.25 12.25 16.59 12.25 17C12.25 17.41 11.91 17.75 11.5 17.75Z" fill="currentColor"></path></svg>
            CV
            </a
          >
          <div class="absolute right-[120px] bottom-[-2rem] -z-10 h-24 w-24">
            <Particles client:load/>
          </div>
        </div>
      </div>
    </section>

    <!-- Stack section -->
    <section class="pt-28">
      <div class="mx-6 flex flex-col gap-6">
        <div class="flex items-center justify-between">
          <div class="flex flex-col gap-1">
            <h2 class="text-4xl text-balance font-ClashDisplay tracking-wide text-gray-800 font-semibold min-h-fit dark:text-secondary">
              Mi stack
            </h2>
            <p class="text-sm text-gray-800 dark:text-terteary max-w-[300px]">
              Creo proyectos funcionales y escalables con estas tecnologías.
            </p>
          </div>

          <button class="text-sm underline">Ver listado completo</button>
        </div>

        <!-- Frontend -->
         <TechFront client:only="react" />
        <!-- Cloud -->
        <TechCloud client:only="react" />
        <!-- Frontend -->
         <TechColaborate client:only="react" />
     
      </div>
    </section>

    <!-- Projects section -->
    <section class="pt-20 flex flex-col gap-6 relative z-30">
      <div class="flex flex-col gap-1">
        <h2
          class="text-4xl text-balance font-ClashDisplay tracking-wide text-gray-800 font-semibold min-h-fit dark:text-secondary mx-6"
        >
          Últimos proyectos
        </h2>
        <p class="mx-6 text-sm text-gray-800 dark:text-terteary">
          Explora mis proyectos, donde explico el proceso, la metodología
          utilizada y los detalles clave de su ejecución.
        </p>
      </div> 
      <div class="mx-6 flex flex-col gap-8">
        <main class="flex gap-4">
          <div class="hidden xs:flex">
            <Jobs client:only="react" />
          </div>
          <aside class="flex flex-col gap-1">
            <div
              class="flex flex-col gap-1  top-[71px] "
            >
              <h3 class="font-semibold">Tech lead - Rand abogados</h3>
              <p class="text-xs text-terteary">
                Septiembre 2024, Diciembre 2024
              </p>
            </div>
            <img src="/rand.png" alt="" class="mt-5 rounded-lg" />
            <p class="text-terteary mt-3 line-clamp-5 text-justify">
              ABC Cafe, a local coffee shop with a loyal customer base, wanted
              to undergo a rebranding to attract a younger demographic and stand
              out in a competitive market. The challenge was to modernize their
              brand identity without alienating their existing customers.
            </p>
            <div class="flex items-center gap-2 mt-2">
              <a class="flex items-center gap-1.5 bg-[#111111ed] w-fit rounded-full py-1 px-2.5 min-h-[28px]">
                <div class="w-5">
                  <Figma client:only="react" />
                </div>
                <p class="text-xs font-semibold">Figma</p>
              </a>
              <a class="flex items-center gap-1.5 bg-[#111111ed] w-fit rounded-full py-1 px-2.5 min-h-[28px]">
                <div class="w-5">
                  <NextJS client:only="react" />
                </div>
                <p class="text-xs font-semibold">Next</p>
              </a>
              <a class="flex items-center gap-1.5 bg-[#111111ed] w-fit rounded-full py-1 px-2.5 min-h-[28px]">
                <div class="w-5">
                  <TailwindIcon client:only="react" />
                </div>
                <p class="text-xs font-semibold">Tailwind</p>
              </a>

            </div>
          </aside>
        </main>
      </div>
      <div class="mx-6 flex flex-col gap-8 mt-5">
        <main class="flex gap-4">
          <div class="hidden xs:flex">
            <Jobs client:visible />
          </div>
          <aside class="flex flex-col gap-1">
            <div
              class="flex flex-col gap-1  top-[71px] "
            >
              <h3 class="font-semibold">Tech lead - Rand abogados</h3>
              <p class="text-xs text-terteary">
                Septiembre 2024, Diciembre 2024
              </p>
            </div>
            <img src="/rand.png" alt="" class="mt-5 rounded-lg" />
            <p class="text-terteary mt-3 line-clamp-5 text-justify">
              ABC Cafe, a local coffee shop with a loyal customer base, wanted
              to undergo a rebranding to attract a younger demographic and stand
              out in a competitive market. The challenge was to modernize their
              brand identity without alienating their existing customers.
            </p>
            <div class="flex items-center gap-2 mt-2">
              <a class="flex items-center gap-1.5 bg-[#111111ed] w-fit rounded-full py-1 px-2.5 min-h-[28px]">
                <div class="w-5">
                  <Figma client:only="react" />
                </div>
                <p class="text-xs font-semibold">Figma</p>
              </a>
              <a class="flex items-center gap-1.5 bg-[#111111ed] w-fit rounded-full py-1 px-2.5 min-h-[28px]">
                <div class="w-5">
                  <NextJS client:only="react" />
                </div>
                <p class="text-xs font-semibold">Next</p>
              </a>
              <a class="flex items-center gap-1.5 bg-[#111111ed] w-fit rounded-full py-1 px-2.5 min-h-[28px]">
                <div class="w-5">
                  <TailwindIcon client:only="react" />
                </div>
                <p class="text-xs font-semibold">Tailwind</p>
              </a>

            </div>
          </aside>
        </main>
      </div>
      <div class="mx-6 flex flex-col gap-8 mt-5">
        <main class="flex gap-4">
          <div class="hidden xs:flex">
            <Jobs client:only="react" />
          </div>
          <aside class="flex flex-col gap-1">
            <div
              class="flex flex-col gap-1  top-[71px] "
            >
              <h3 class="font-semibold">Tech lead - Rand abogados</h3>
              <p class="text-xs text-terteary">
                Septiembre 2024, Diciembre 2024
              </p>
            </div>
            <img src="/rand.png" alt="" class="mt-5 rounded-lg" />
            <p class="text-terteary mt-3 line-clamp-5 text-justify">
              ABC Cafe, a local coffee shop with a loyal customer base, wanted
              to undergo a rebranding to attract a younger demographic and stand
              out in a competitive market. The challenge was to modernize their
              brand identity without alienating their existing customers.
            </p>
            <div class="flex items-center gap-2 mt-2">
              <a class="flex items-center gap-1.5 bg-[#111111ed] w-fit rounded-full py-1 px-2.5 min-h-[28px]">
                <div class="w-5">
                  <Figma client:only="react" />
                </div>
                <p class="text-xs font-semibold">Figma</p>
              </a>
              <a class="flex items-center gap-1.5 bg-[#111111ed] w-fit rounded-full py-1 px-2.5 min-h-[28px]">
                <div class="w-5">
                  <NextJS client:only="react" />
                </div>
                <p class="text-xs font-semibold">Next</p>
              </a>
              <a class="flex items-center gap-1.5 bg-[#111111ed] w-fit rounded-full py-1 px-2.5 min-h-[28px]">
                <div class="w-5">
                  <TailwindIcon client:only="react" />
                </div>
                <p class="text-xs font-semibold">Tailwind</p>
              </a>

            </div>
          </aside>
        </main>
      </div>
      
      
    </section>

    <section class="py-28">
      <div class="mx-6 flex flex-col gap-12">
        <div class="flex flex-col text-center gap-2 text-balance">
          <h2 class="flex flex-col text- leading-7 text-4xl text-balance text-center font-ClashDisplay tracking-wide text-gray-800 font-semibold min-h-fit dark:text-secondary">Asi es como aporto valor a tu negocio</h2>
          <p class="text-sm text-terteary">Transformo ideas en proyectos digitales que destacan por su alta calidad, rendimiento y experiencias inmersivas.</p>
        </div>
        <!-- Front service -->
        <section class="flex flex-col justify-center items-center gap-3 relative overflow-hidden border border-[#2d2d2d2a] rounded-xl p-2 px-3" role="region" aria-labelledby="frontend-title">
          <!-- Title + Techs -->
          <header class="flex items-center justify-start text-start w-full relative z-30 gap-2">
            <h3 id="frontend-title" class="text-lg text-balance text-center text-gray-800 font-semibold min-h-fit dark:text-secondary">
              Desarrollo Front-End
            </h3>
            <div class="flex items-center gap-2.5" aria-label="Tecnologías usadas">
              <div class="w-3.5" aria-hidden="true">
                <ReactIcon client:only />
              </div>
              <div class="w-3.5" aria-hidden="true">
                <TailwindIcon client:only />
              </div>
              <div class="w-3.5" aria-hidden="true">
                <NextJS client:only />
              </div>
              <div class="w-3.5 bg-[#f5ea16] h-3.5 rounded-full p-0.5" aria-hidden="true">
                <FramerIcon client:only />
              </div>
            </div>
          </header>
        
          <!-- Description -->
          <p class="text-sm text-terteary relative z-30">
            Creación de sitios web y aplicaciones de calidad con un alto rendimiento en cualquier dispositivo.
          </p>
        
          <!-- Image -->
          <img src="/Screen.png" alt="Vista previa del desarrollo de una aplicación web" class="w-52 relative z-30">
        
          <!-- Actions -->
          <footer class="flex items-end justify-between w-full relative z-30 mt-1.5">
            <a href="" class="text-sm font-semibold bg-primary relative z-40 rounded-2xl flex items-center py-3 px-6 gap-2 w-fit" aria-label="Contáctame por WhatsApp">
              Contáctame por 
              <span class="w-4">
                <IconWhatsappT client:only />
              </span>
            </a>
            <button class="text-xs underline" aria-label="Ver información sobre lo que incluye">¿Qué incluye?</button>
          </footer>
        
          <!-- Decorative Elements -->
          <div class="w-[240px] h-[600px] bg-lights absolute top-[-6rem] left-4 rounded-full z-[0] -rotate-45" aria-hidden="true"></div>
          <div class="w-[50px] h-[50px] bg-[#d9d9d98a] blur-3xl absolute bottom-[-1rem] right-[-1rem] rounded-full z-[0] -rotate-45" aria-hidden="true"></div>
        </section>

        <!-- Automatization service -->
        <section class="flex flex-col justify-center items-center gap-3 relative overflow-hidden border border-[#2d2d2d2a] rounded-xl p-2 px-3" role="region" aria-labelledby="frontend-title">
          <!-- Title + Techs -->
          <header class="flex items-center justify-start text-start w-full relative z-30 gap-2">
            <h3 id="frontend-title" class="text-lg text-balance text-center text-gray-800 font-semibold min-h-fit dark:text-secondary">
              Automatizaciones para negocios
            </h3>
            <div class="flex items-center gap-2.5" aria-label="Tecnologías usadas">
              <div class="w-4" aria-hidden="true">
                <OpenAIIcon client:only />
              </div>
              <div class="w-3.5" aria-hidden="true">
                <GeminiIcon client:only />
              </div>
          
            </div>
          </header>
        
          <!-- Description -->
          <p class="text-sm text-terteary relative z-30">
            Creación de sitios web y aplicaciones de calidad con un alto rendimiento en cualquier dispositivo.
          </p>
        
          <!-- Image -->
          <img src="/Server.png" alt="Vista previa del desarrollo de una aplicación web" class="w-52 relative z-30">
        
          <!-- Actions -->
          <footer class="flex items-end justify-between w-full relative z-30 mt-1.5">
            <a href="" class="text-sm font-semibold bg-primary relative z-40 rounded-2xl flex items-center py-3 px-6 gap-2 w-fit" aria-label="Contáctame por WhatsApp">
              Contáctame por 
              <span class="w-4">
                <IconWhatsappT client:only />
              </span>
            </a>
            <button class="text-xs underline" aria-label="Ver información sobre lo que incluye">¿Qué incluye?</button>
          </footer>
        
          <!-- Decorative Elements -->
          <div class="w-[240px] h-[600px] bg-lights absolute top-[-6rem] left-4 rounded-full z-[0] -rotate-45" aria-hidden="true"></div>
          <div class="w-[50px] h-[50px] bg-[#d9d9d98a] blur-3xl absolute bottom-[-1rem] right-[-1rem] rounded-full z-[0] -rotate-45" aria-hidden="true"></div>
        </section>

        <!-- Design service -->
        <section class="flex flex-col justify-center items-center gap-3 relative overflow-hidden border border-[#2d2d2d2a] rounded-xl p-2 px-3" role="region" aria-labelledby="frontend-title">
          <!-- Title + Techs -->
          <header class="flex items-center justify-start text-start w-full relative z-30 gap-2">
            <h3 id="frontend-title" class="text-lg text-balance text-center text-gray-800 font-semibold min-h-fit dark:text-secondary">
              Diseño UI/UX
            </h3>
            <div class="flex items-center gap-2.5" aria-label="Tecnologías usadas">
              <div class="w-3.5" aria-hidden="true">
                <Figma client:only />
              </div>
            </div>
          </header>
        
          <!-- Description -->
          <p class="text-sm text-terteary relative z-30">
            Creación de sitios web y aplicaciones de calidad con un alto rendimiento en cualquier dispositivo.
          </p>
        
          <!-- Image -->
          <img src="/Screen.png" alt="Vista previa del desarrollo de una aplicación web" class="w-52 relative z-30">
        
          <!-- Actions -->
          <footer class="flex items-end justify-between w-full relative z-30 mt-1.5">
            <a href="" class="text-sm font-semibold bg-primary relative z-40 rounded-2xl flex items-center py-3 px-6 gap-2 w-fit" aria-label="Contáctame por WhatsApp">
              Contáctame por 
              <span class="w-4">
                <IconWhatsappT client:only />
              </span>
            </a>
            <button class="text-xs underline" aria-label="Ver información sobre lo que incluye">¿Qué incluye?</button>
          </footer>
        
          <!-- Decorative Elements -->
          <div class="w-[240px] h-[600px] bg-lights absolute top-[-6rem] left-4 rounded-full z-[0] -rotate-45" aria-hidden="true"></div>
          <div class="w-[50px] h-[50px] bg-[#d9d9d98a] blur-3xl absolute bottom-[-1rem] right-[-1rem] rounded-full z-[0] -rotate-45" aria-hidden="true"></div>
        </section>

        
        
      </div>
    </section>
  </main>
</Layout>

<style>
  .scroll_hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll_hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.bg-lights{
  background-image: radial-gradient(68.54% 68.72% at 55.02% 31.46%,#d9d9d914 0,hsla(0, 0%, 11%, 0.02) 50%,hsla(0, 0%, 45%, 0) 80%);
}

</style>
