---
import ThemeToggle from '../components/Themetoggle';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="bg-white min-h-screen text-black dark:bg-[#161616] dark:text-gray-300 transition-colors duration-300">
		<ThemeToggle client:load/>
		<p>This page <strong>yo</strong></p>
	</main>


</Layout>


