---
import { IconArrowRightUp } from "../icons/Icons";
---

<section class="py-20">
  <div class="mx-6 flex flex-col gap-6">
    <h2
      class="text- leading-8 text-3xl uppercase font-ClashDisplay text-gray-800 font-semibold min-h-fit dark:text-secondary xs:text-4xl xs:leading-8"
    >
      Me gusta <span class="uppercase text-primary">crear "cosas"</span> que ayudan
      a las personas
    </h2>
    <p class="text-sm text-terteary">
      Soy <span class="text-black dark:text-white">Front-End Engineer</span> en Ciudad
      de México, especializado en crear sitios pixel-perfect con alto rendimiento,
      accesibilidad y experiencia de usuario.
    </p>

    <p class="text-sm text-terteary">
      Me apasiona trabajar en proyectos desafiantes que combinen diseño
      atractivo, facilidad de uso y solidez técnica.
    </p>

    <a href="" class="uppercase font-semibold text-sm flex items-center gap-1">
      Más sobre mi
      <span class="w-5">
        <IconArrowRightUp client:only />
      </span>
    </a>
  </div>
</section>
