---
import Particles from '../components/ui/Particles'
import { IconIdea } from '../icons/Icons'
---
<section class="pt-28 flex items-center justify-center">
    <div class="mx-6 flex flex-col items-center justify-center gap-4 w-full max-w-screen-xl">
      
      <h2 class="leading-8 text-4xl text-center uppercase font-ClashDisplay max-w-[420px] text-gray-800 font-semibold min-h-fit dark:text-secondary relative xss:text-3xl xss:max-w-[300px] xs:text-4xl xs:max-w-[420px]"> <span class="absolaute m-1 inline-block -top-5 left-7"><IconIdea client:only='react' /></span>¿Listo para <span class="uppercase text-primary ">construir</span> algo interesante?</h2>
      
      <div class="flex  gap-3 w-fit text-center mt-4 flex-wrap relative">
        <a
          href=""
          class="border-2 font-medium text-sm flex items-center gap-2 rounded-lg relative z-10 bg-[#eff3f4] border-[#eff3f4] dark:border-[#2c2c2c] dark:bg-[#161616] dark:font-bold py-2 px-4"
          >
          Dejar mensaje
          </a
        >
        <div class="absolute right-5 -top-8  -z-0 h-24 w-24">
          <Particles client:load/>
        </div>
      </div>

      <div class="w-full mt-10 mb-2 flex flex-wrap justify-between gap-8">
        <!-- General info -->
        <header class="">
          <h2 class="font-semibold">Michelle Rodriguez</h2>
          <p class="text-terteary text-xs mt-1.5">Frontend Engineer React</p>
          <p class="text-terteary text-xs">Abierto a nuevos proyectos y colaboraciones</p>
        </header>
        <div class="flex gap-10 w-full flex-wrap justify-between x:w-fit">
          <!-- Navigation -->
          <div class="flex flex-col gap-4">
            <p class="font-semibold">Navegación</p>
            <ul class="flex flex-col gap-1">
              <a href="" class="text-terteary text-sm">
                <li>Inicio</li>
              </a>
              <a href="" class="text-terteary text-sm">
                <li>Yo</li>
              </a>
              <a href="" class="text-terteary text-sm">
                <li>Servicios</li>
              </a>
              <a href="" class="text-terteary text-sm">
                <li>Stack</li>
              </a>
              <a href="" class="text-terteary text-sm">
                <li>Proyectos</li>
              </a>
            </ul>
          </div>
          <!-- Contact -->
           <div class="flex flex-col gap-4">
            <p class="font-semibold">Contacto</p>
            <ul class="flex flex-col gap-1">
              <a href="" class="text-[#0e76a8]  text-sm">
                <!-- <IconLinkedin client:only /> -->
                <li class="text-terteary">Linkln</li>

              </a>
              <a href="" class="text-[#0e76a8]  text-sm">
                <!-- <IconLinkedin client:only /> -->
                <li class="text-terteary">Github</li>

              </a>
              <a href="" class="text-[#0e76a8]  text-sm">
                <!-- <IconLinkedin client:only /> -->
                <li class="text-terteary">Mail</li>

              </a>
              <a href="" class="text-[#25d366]  text-sm">
                <!-- <IconWhatsapp client:only /> -->
                <li class="text-terteary">Whastapp</li>
              </a>
            </ul>
           </div>
        </div>
      </div>



    </div>
   </section>