<section class="border-t border-[#d9d6d6c7] dark:border-[#2b2b2b] border-b flex items-center justify-center">
  <div class="mx-6 flex flex-col gap-8 my-16 w-full max-w-screen-xl md:flex-row md:justify-between">
    <!-- Contact mail -->
    <h2
      class="text-4xl text-center font-ClashDisplay tracking-wide leading-8 text-gray-800 font-semibold flex flex-col gap-0 dark:text-secondary xs:text-4xl xs:leading-8 md:text-start"
    >
      Idiomas que hablo <span class="text-[10px] text-terteary font-InterT"
        >(Además que lenguajes de programación)</span>
    </h2>
    <div class="flex justify-center items-center flex-wrap gap-6">
      <div class="flex items-center gap-2">
        <img src="/USA.svg" alt="" class="w-[46px] rounded-lg" />
        <div class="flex flex-col -gap-0.5">
          <h3 class="font-semibold">Inglés</h3>
          <p class="text-sm text-terteary">
            Intermedio <span class="text-[10px]">(B1)</span>
          </p>
        </div>
      </div>
      <div class="flex items-center gap-2">
        <img src="/Mexico_flag.svg" alt="" class="w-[46px] rounded-lg" />
        <div class="flex flex-col -gap-0.5">
          <h3 class="font-semibold">Español</h3>
          <p class="text-sm text-terteary">Nativo</p>
        </div>
      </div>
    </div>
  </div>
</section>
