---
import {
  Figma,
  FramerIcon,
  GeminiIcon,
  IconWhatsappT,
  OpenAIIcon,
  ReactIcon,
  TailwindIcon, NextJS
} from "../icons/Icons";
// import NextJS from "../icons/NextJS.astro";
---

<section class="py-20">
  <div class="mx-6 flex flex-col gap-12">
    <div class="flex flex-col text-center gap-2 text-balance">
      <h2
        class="flex flex-col text- leading-8 text-3xl text-balance text-center font-ClashDisplay tracking-wide text-gray-800 font-semibold min-h-fit dark:text-secondary xs:text-4xl xs:leading-8"
      >
        Asi es como aporto valor a tu negocio
      </h2>
      <p class="text-sm text-terteary">
        Transformo ideas en proyectos digitales que destacan por su alta
        calidad, rendimiento y experiencias inmersivas.
      </p>
    </div>
    <!-- Front service -->
    <section
      class="flex flex-col justify-center items-center gap-3 relative overflow-hidden border border-[#eff3f4] dark:border-[#2d2d2d2a] rounded-xl p-2 px-3"
      role="region"
      aria-labelledby="frontend-title"
    >
      <!-- Title + Techs -->
      <header
        class="flex items-center justify-start text-start w-full relative z-30 gap-2"
      >
        <h3
          id="frontend-title"
          class="text-lg text-balance text-start text-gray-800 font-semibold min-h-fit dark:text-secondary"
        >
          Desarrollo Front-End
        </h3>
        <div class="flex items-center gap-2.5" aria-label="Tecnologías usadas">
          <div class="w-3.5" aria-hidden="true">
            <ReactIcon client:only />
          </div>
          <div class="w-3.5" aria-hidden="true">
            <TailwindIcon client:only />
          </div>
          <div class="w-3.5" aria-hidden="true">
            <NextJS client:only />
          </div>
          <div
            class="w-3.5 bg-[#f5ea16] h-3.5 rounded-full p-0.5"
            aria-hidden="true"
          >
            <FramerIcon client:only />
          </div>
        </div>
      </header>

      <!-- Description -->
      <p class="text-sm text-terteary relative z-30">
        Creación de sitios web y aplicaciones de calidad con un alto rendimiento
        en cualquier dispositivo.
      </p>

      <!-- Image -->
      <img
        src="/Screen.webp"
        alt="Vista previa del desarrollo de una aplicación web"
        class="w-52 relative z-30"
      />

      <!-- Actions -->
      <footer
        class="flex items-end justify-between w-full relative z-30 mt-1.5"
      >
        <a
          href=""
          class="text-sm text-white font-semibold bg-primary relative z-40 rounded-2xl flex items-center py-3 px-6 gap-2 w-fit"
          aria-label="Contáctame por WhatsApp"
        >
          Contáctame por
          <span class="w-4">
            <IconWhatsappT client:only />
          </span>
        </a>
        <button
          class="text-xs underline"
          aria-label="Ver información sobre lo que incluye"
          >¿Qué incluye?</button
        >
      </footer>

      <!-- Decorative Elements -->
      <div
        class="w-[240px] h-[600px] bg-lights bg-lights-2 absolute top-[-6rem] left-4 rounded-full z-[0] -rotate-45"
        aria-hidden="true"
      >
      </div>
      <div
        class="w-[240px] h-[600px] bg-lights absolute top-[-6rem] left-4 rounded-full z-[0] -rotate-45"
        aria-hidden="true"
      >
      </div>
    </section>

    <!-- Automatization service -->
    <section
      class="flex flex-col justify-center items-center gap-3 relative overflow-hidden border border-[#eff3f4] dark:border-[#2d2d2d2a] rounded-xl p-2 px-3"
      role="region"
      aria-labelledby="frontend-title"
    >
      <!-- Title + Techs -->
      <header
        class="flex items-center justify-start text-start w-full relative z-30 gap-2"
      >
        <h3
          id="frontend-title"
          class="text-lg text-balance text-start text-gray-800 font-semibold min-h-fit dark:text-secondary"
        >
          Automatizaciones para negocios
        </h3>
        <div class="flex items-center gap-2.5" aria-label="Tecnologías usadas">
          <div class="w-4" aria-hidden="true">
            <OpenAIIcon client:only />
          </div>
          <div class="w-3.5" aria-hidden="true">
            <GeminiIcon client:only />
          </div>
        </div>
      </header>

      <!-- Description -->
      <p class="text-sm text-terteary relative z-30">
        Creación de sitios web y aplicaciones de calidad con un alto rendimiento
        en cualquier dispositivo.
      </p>

      <!-- Image -->
      <img
        src="/Server.webp"
        alt="Vista previa del desarrollo de una aplicación web"
        class="w-52 relative z-30"
      />

      <!-- Actions -->
      <footer
        class="flex items-end justify-between w-full relative z-30 mt-1.5"
      >
        <a
          href=""
          class="text-sm text-white font-semibold bg-primary relative z-40 rounded-2xl flex items-center py-3 px-6 gap-2 w-fit"
          aria-label="Contáctame por WhatsApp"
        >
          Contáctame por
          <span class="w-4">
            <IconWhatsappT client:only />
          </span>
        </a>
        <button
          class="text-xs underline"
          aria-label="Ver información sobre lo que incluye"
          >¿Qué incluye?</button
        >
      </footer>

      <!-- Decorative Elements -->
      <div
        class="w-[240px] h-[600px] bg-lights bg-lights-2 absolute top-[-6rem] left-4 rounded-full z-[0] -rotate-45"
        aria-hidden="true"
      >
      </div>
      <div
        class="w-[240px] h-[600px] bg-lights absolute top-[-6rem] left-4 rounded-full z-[0] -rotate-45"
        aria-hidden="true"
      >
      </div>
    </section>

    <!-- Design service -->
    <section
      class="flex flex-col justify-center items-center gap-3 relative overflow-hidden border border-[#eff3f4] dark:border-[#2d2d2d2a] rounded-xl p-2 px-3"
      role="region"
      aria-labelledby="frontend-title"
    >
      <!-- Title + Techs -->
      <header
        class="flex items-center justify-start text-start w-full relative z-30 gap-2"
      >
        <h3
          id="frontend-title"
          class="text-lg text-balance text-start text-gray-800 font-semibold min-h-fit dark:text-secondary"
        >
          Diseño UI/UX
        </h3>
      </header>

      <!-- Description -->
      <p class="text-sm text-terteary relative z-30">
        Creación de sitios web y aplicaciones de calidad con un alto rendimiento
        en cualquier dispositivo.
      </p>

      <!-- Image -->
      <img
        src="/option2.webp"
        alt="Vista previa del desarrollo de una aplicación web"
        class="w-52 relative z-30"
      />

      <!-- Actions -->
      <footer
        class="flex items-end justify-between w-full relative z-30 mt-1.5"
      >
        <a
          href=""
          class="text-sm text-white font-semibold bg-primary relative z-40 rounded-2xl flex items-center py-3 px-6 gap-2 w-fit"
          aria-label="Contáctame por WhatsApp"
        >
          Contáctame por
          <span class="w-4">
            <IconWhatsappT client:only />
          </span>
        </a>
        <button
          class="text-xs underline"
          aria-label="Ver información sobre lo que incluye"
          >¿Qué incluye?</button
        >
      </footer>

      <!-- Decorative Elements -->
      <div
        class="w-[240px] h-[600px] bg-lights bg-lights-2 absolute top-[-6rem] left-4 rounded-full z-[0] -rotate-45"
        aria-hidden="true"
      >
      </div>
      <div
        class="w-[240px] h-[600px] bg-lights absolute top-[-6rem] left-4 rounded-full z-[0] -rotate-45"
        aria-hidden="true"
      >
      </div>
    </section>
  </div>
</section>

<style>
  .bg-lights {
    background-image: radial-gradient(
      68.54% 68.72% at 55.02% 31.46%,
      #d9d9d914 0,
      hsla(0, 0%, 11%, 0.02) 50%,
      hsla(0, 0%, 45%, 0) 80%
    );
  }
  .bg-lights-2 {
    background-image: radial-gradient(
      68.54% 68.72% at 55.02% 105.46%,
      #d9d9d914 0,
      hsla(0, 0%, 11%, 0.02) 50%,
      hsla(0, 0%, 45%, 0) 80%
    );
  }
</style>
